*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: #FFF;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  font-family: "JetBrains Mono", monospace;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  background-color: #F3F1EC;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  --white: #FFF;
  --black: #000000;
  --bg-black: #171717;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz24 {
  font-size: 24px;
}

.fz36 {
  font-size: 36px;
}

.fz90 {
  font-size: 90px;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
}

.header {
  background-color: var(--bg-black);
  padding: 80px 10px;
}
.header__menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.header__title {
  margin-top: 230px;
}
.header__subtitle {
  margin-top: 280px;
}

.menu-main__list {
  display: flex;
  gap: 157px;
}

.first-screen {
  background-color: var(--bg-black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35vh;
  text-align: center;
}
.first-screen__title {
  font-size: 110px;
  margin-top: 100px;
  font-weight: 400;
}
.first-screen__subtitle {
  margin-top: 30px;
  padding-bottom: 70px;
}

.about {
  background-image: url(/img/bg/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0px;
  width: 100%;
  padding: 55px 0px 0 0;
}
.about__button-wrapper {
  text-align: center;
}
.about__wrapper {
  margin-top: 1700px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
.about__title {
  font-weight: 700;
}
.about__subtitle {
  margin-top: 120px;
  font-weight: 400;
}
.about__button {
  text-align: center;
  margin-top: 100px;
}
.about__connect-subtitle {
  font-weight: 400;
  margin-top: 25px;
  color: rgb(146, 146, 146);
}
.about__photo-text {
  max-width: 725px;
  min-height: 1100px;
  width: 100%;
}

.button {
  display: inline-block;
  background-color: var(--white);
  color: var(--black);
  padding: 22px 0px;
  text-decoration: none;
  width: 300px;
  height: 65px;
  border-radius: 20px;
}
.button-svg {
  display: inline-block;
  width: 28px;
  height: 23px;
  vertical-align: middle;
}

.middle {
  background: rgb(0, 0, 0);
}
.middle__picture-solo {
  filter: grayscale(100%);
  max-width: 476px;
  min-height: 518px;
}
.middle__wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 190px;
}
.middle__content {
  display: flex;
  flex-direction: column;
}
.middle__text {
  text-align: left;
}
.middle__text-title {
  font-weight: 400;
}
.middle__pic {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}
.middle__photo-text {
  max-width: 725px;
  min-height: 518px;
}

.kind {
  background: rgb(0, 0, 0);
  padding-top: 300px;
}
.kind__wrapper {
  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}
.kind__title {
  margin-bottom: 180px;
}
.kind__vecro {
  border: 1px solid rgb(255, 255, 255);
  flex: 1;
  border-left: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  text-align: end;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 100px;
}
.kind__vecro-num {
  font-weight: 400;
}
.kind__vecro-tittle {
  font-weight: 700;
}
.kind__vecro-price {
  font-weight: 700;
}
.kind__vecro-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.kind__vecro-img {
  height: 500px;
}
.kind__vecro-subtitle {
  font-weight: 400;
  text-align: center;
}
.kind__glue {
  border: 1px solid rgb(255, 255, 255);
  flex: 1;
  border-right: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 20px;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 100px;
}
.kind__glue-num {
  font-weight: 400;
}
.kind__glue-tittle {
  font-weight: 700;
}
.kind__glue-price {
  font-weight: 700;
}
.kind__glue-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.kind__glue-img {
  height: 500px;
}
.kind__glue-subtitle {
  font-weight: 400;
  text-align: center;
}

.contact {
  background: linear-gradient(180deg, rgb(0, 0, 0) 4.173%, rgba(0, 0, 0, 0.77) 25.552%, rgba(0, 0, 0, 0) 51.985%, rgb(0, 0, 0) 100%), url(/img/bg/footbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 140px;
}
.contact__question-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}
.contact__question {
  font-weight: 700;
}
.contact__wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
  gap: 180px;
}
.contact__title {
  font-weight: 700;
}
.contact__cercle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.contact__cercle-one, .contact__cercle-two {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 810px;
  height: 810px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.footer {
  background: rgb(0, 0, 0);
  padding-top: 150px;
  padding-bottom: 50px;
}
.footer__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
}
.footer__policy {
  font-weight: 400;
  color: rgb(146, 146, 146);
}
.footer__rights {
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */