.about {
    background-image: url(/img/bg/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0px;
    width: 100%;
    padding: 55px 0px 0 0;
    &__button-wrapper{
        text-align: center;
    }
    &__wrapper {
        margin-top: 1700px;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__text {
        @media screen and (max-width: 1024px) {
            width: 74%;
         }
         @media screen and (max-width: 800px) {
            width: 95%;
        }
        @media screen and (max-width: 620px) {
            width: 114%;
        }
        @media screen and (max-width: 476px) {
            width: 144%;
        }
    }
    &__title {
        font-weight: 700;
        @media screen and (max-width: 1024px) {
            font-size: 80px;
        }
        @media screen and (max-width: 800px) {
            font-size: 68px;
        }
        @media screen and (max-width: 620px) {
            font-size: 60px;
        }
    }
    &__subtitle {
        margin-top: 120px;
        font-weight: 400;
        @media screen and (max-width: 1024px) {
            font-size: 13px;
        }
        @media screen and (max-width: 800px) {
            font-size: 11px;
            margin-top: 90px;
        }
        @media screen and (max-width: 620px) {
            font-size: 9px;
            margin-top: 73px;
        }
        @media screen and (max-width: 476px) {
            font-size: 10px;
        }
    }
    &__button {
        text-align: center;
        margin-top: 100px;
        @media screen and (max-width: 800px) {
            width: 0;
        }
        
    }
    &__connect-subtitle {
        font-weight: 400;
        margin-top: 25px;
        color: rgb(146, 146, 146);
        @media screen and (max-width: 1024px) {
            font-size: 11px;
        }
        @media screen and (max-width: 800px) {
            font-size: 9px;
        }
        @media screen and (max-width: 620px) {
            font-size: 8px;
        }
        @media screen and (max-width: 476px) {
            font-size: 9px;
        }
    }
    &__photo-text {
        max-width: 725px;
        max-height: 1100px;
        width: 100%;
        @media screen and (max-width: 476px) {
            width: 124%;
        }
    }
}