.about {
    background-image: url(/img/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0px;
    background-size: 100% auto;
    width: 100%;
    padding: 55px 0px;
    position: absolute;
    z-index: 1;
    &__image-container {
        position: relative;
    }
    &__button-wrapper{
        text-align: center;
    }
    &__wrapper {
        margin-top: 1700px;
    }
    &
    &__title {
        font-weight: 700;
    }
    &__subtitle {
        margin-top: 120px;
        font-weight: 400;
    }
    &__button {
        text-align: center;
        margin-top: 100px;
    }
    &__connect-subtitle {
        font-weight: 400;
        margin-top: 25px;
    }
    &__photo-bg {
        position: absolute;
        top: 50%;
        right: 10%;
        z-index: 2;
        width: 725px;
        height: 1098px;
    }
}