 .button {
    display: inline-block;
    background-color: var(--white);
    color: var(--black);
    padding: 22px 0px;
    text-decoration: none;
    max-width: 300px;
    max-height: 65px;
    border-radius: 20px;
    width: 100%;
    @media screen and (max-width: 1024px) {
        width: 61%;
        font-size: 15px;
    }
    &-svg {
        display: inline-block;
        width: 28px;
        height: 23px;
        vertical-align: middle;
    }
 }