.footer {
    background: rgb(0, 0, 0);
    padding-top: 150px;
    padding-bottom: 50px;
    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    &__policy {
        font-weight: 400;
        color: rgb(146, 146, 146);
        @media screen and (max-width: 1024px) {
            font-size: 9px;
         }
    }
    &__rights {
        font-weight: 400;
        @media screen and (max-width: 1024px) {
            font-size: 9px;
         }
    }
    &__website {
        text-decoration: none ;
        @media screen and (max-width: 1024px) {
            font-size: 20px;
         }
    }
}