.header {
    background-color: var(--bg-black);
    padding: 80px 10px; 
    &__menu {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    &__menu-main {
        position: relative;
    }
    &__title {
        margin-top: 230px;
        @media screen and (max-width: 1024px) {
            font-size: 95px;;
        }
    }
    &__subtitle {
        margin-top: 280px;
        @media screen and (max-width: 1024px) {
            font-size: 13px;
        }
    }
    &__menu-burger {
        display: none;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    &__burger-svg {
        color: var(--white);
    }
    &__menu-toggle {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    &__menu-burger {
        display: none;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    &__menu-togle {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    &__menu-toggle:checked + .burger-menu + .menu-main__list {
        @media screen and (max-width: 768px) {
            display: flex;
        }
    }
    &__item {
        @media screen and (max-width: 1024px) {
            font-size: 13px;
        }
        @media screen and (max-width: 800px) {
            font-size: 12px;
        }
        
    }
 }
   


.menu-main {
    &__list{
        display: flex;
        list-style: none;
        gap:157px;
        @media screen and (max-width: 1280px) {
            gap: 88px;
        }
        @media screen and (max-width: 1024px) {
            gap: 45px;
        }
        @media screen and (max-width: 800px) {
            gap: 33px;
        }
        @media screen and (max-width: 768px) {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: #575555c4;
            box-shadow: 0 4px 8px rgba(85, 84, 84, 0.1);
        }
    }
}

