.header {
    background-color: var(--bg-black);
    padding: 80px 10px; 
    &__menu {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
    }
    &__menu-logo {
        position: relative;
        z-index: 1;
        @media screen and (max-width: 620px) {
            font-size: 14px;
        }
    }
    &__menu-main {
        position: relative;
        z-index: 2;
    }
    &__title {
        margin-top: 230px;
        @media screen and (max-width: 1024px) {
            font-size: 95px;;
        }
    }
    &__subtitle {
        margin-top: 280px;
        @media screen and (max-width: 1024px) {
            font-size: 13px;
        }
    }
    &__menu-burger {
        display: none;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    &__burger-svg {
        filter: invert(100%) brightness(200%);
        width: 40px;
    }
    &__menu-toggle {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    &__menu-toggle {
            display: none;
    }
    .header__menu-toggle:checked ~ .menu-main__list {
        @media screen and (max-width: 768px) {
            display: flex;
        }
    }
 }
   
.menu-main {
    &__list{
        display: flex;
        list-style: none;
        gap:157px;
        @media screen and (max-width: 1280px) {
            gap: 88px;
        }
        @media screen and (max-width: 1024px) {
            gap: 45px;
        }
        @media screen and (max-width: 800px) {
            gap: 33px;
        }
        @media screen and (max-width: 768px) {
            display: none;
            flex-direction: column;
            position: absolute;
            width: 89vw;
            background:#2f2f2f;
            box-shadow: 0 4px 8px rgba(85,84,84,.1);
            top: 0;
            left: 0;
            gap: 68px;
            text-align: center;
        }
    }
    &__item {
        @media screen and (max-width: 1024px) {
            font-size: 13px;
        }
        @media screen and (max-width: 800px) {
            font-size: 12px;
        }
        
    }
}


