.kind {
    background: rgb(0, 0, 0);
    padding-top: 300px;
    
    &__wrapper {
        display: flex;
        align-items: stretch;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: space-between;
        @media screen and (max-width: 800px) {
            flex-flow: column nowrap;
            text-align: center;
        }
    }
    &__title {
        margin-bottom: 180px;
        @media screen and (max-width: 1024px) {
            margin-bottom: 100px;
         }
         @media screen and (max-width: 522px) {
            font-size: 12px;
        }
    }
    &__title-main {
        font-size: 80px;
        @media screen and (max-width: 800px) {
            font-size: 70px;
        }
        @media screen and (max-width: 441px) {
            font-size: 50px;
        }
        @media screen and (max-width: 476px) {
            font-size: 58px;
        }
    }
    &__vecro {
        border: 1px solid rgb(255, 255, 255);
        flex: 1;
        border-left: none;
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
        text-align: end;
        padding-right: 80px;
        padding-top: 20px;
        padding-bottom: 100px;
        @media screen and (max-width: 1024px) {
            padding-right: 25px;
         }
         @media screen and (max-width: 800px) {
            gap: 33px;
            border: 1px solid rgb(255, 255, 255);
            text-align: center;
        }
    }
    &__vecro-num {
        font-weight: 400;
        @media screen and (max-width: 620px) {
            font-size: 13px;
        }
    }
    &__vecro-tittle{
        font-weight: 700;
        @media screen and (max-width: 800px) {
            font-size: 30px;
        }
    }
    &__vecro-price {
        font-weight: 700;
        @media screen and (max-width: 800px) {
            font-size: 21px;
        }
    }
    &__vecro-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: auto;
    }
    &__vecro-subtitle {
        font-weight: 400;
        text-align: center;
        @media screen and (max-width: 1024px) {
            font-size: 14px;
         }
         @media screen and (max-width: 800px) {
            font-size: 12px;
        }
        @media screen and (max-width: 522px) {
            font-size: 10px;
        }
    }

    &__glue {
        border: 1px solid rgb(255, 255, 255);
        flex: 1;
        border-right: none;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        gap: 20px;
        padding-left: 80px;
        padding-top: 20px;
        padding-bottom: 100px;
        @media screen and (max-width: 1024px) {
            padding-left: 25px;
            border: 1px solid rgb(255, 255, 255);
         }
    }
    &__glue-num {
        font-weight: 400;
        @media screen and (max-width: 800px) {
            font-size: 13px;
        }
    }
    &__glue-tittle{
        font-weight: 700;
        @media screen and (max-width: 800px) {
            font-size: 30px;
        }
    }
    &__glue-price {
        font-weight: 700;
        @media screen and (max-width: 800px) {
            font-size: 21px;
        }
    }
    &__glue-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: auto;

    }
    
    &__glue-subtitle {
        font-weight: 400;
        text-align: center;
        @media screen and (max-width: 1024px) {
            font-size: 14px;
         }
         @media screen and (max-width: 800px) {
            font-size: 12px;
        }
        @media screen and (max-width: 522px) {
            font-size: 10px;
        }
    }
}