.middle {
    background: rgb(0, 0, 0);
    @media screen and (max-width: 1280px) {
        padding-top: 10%;
        } 
    &__picture{
        width: 50vw;
        @media screen and (max-width: 1024px) {
            width: 41vw;
         }
         @media screen and (max-width: 800px) {
            width: 58vw;
        }
         @media screen and (max-width: 620px) {
            width: 50vw;
        }
        @media screen and (max-width: 476px) {
            width: 60%;
        }
        @media screen and (max-width: 420px) {
            width: 97vw;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 13PX;
        }
    }
    &__picture-solo {
        filter: grayscale(100%);
        max-width: 79%;
        @media screen and (max-width: 420px) {
            max-width: 100%;
        }

        
    }
    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        margin-top: 190px;
        @media screen and (max-width: 420px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        width: 36vw;
        @media screen and (max-width: 620px) {
            width: 50vw;
        }
        @media screen and (max-width: 420px) {
            width: 93vw;
        }
    }
    &__text {
        text-align: left;
    }
    &__text-title {
        font-weight: 400;
        line-height: 22px;
        @media screen and (max-width: 1024px) {
            font-size: 13px;
        }
        @media screen and (max-width: 800px) {
            font-size: 11px;
        }
        @media screen and (max-width: 620px) {
            font-size: 9px;
        }
        @media screen and (max-width: 476px) {
            font-size: 10px;
        }
        
    }
    &__pic {
        margin-top: 50px;
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 620px) {
            width: 50vw;
        }
        @media screen and (max-width: 420px) {
            width: 93vw;
        }
    }
    &__photo-text {
        max-height: 518px;
    }
    
}